/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 24, 2018, 12:19:48 PM
    Author     : daniel
*/

h2.section-title 
{
	color: #ededed;
}

.mus-animate
{
	opacity: 0;
	visibility: hidden; 
}

/* Home section */
.mus-cover 
{
	background-position: center center; 
}

.bg-image, .mus-cover 
{
	background: url(../images/Musine_main_18x12.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #cfcfcf;
	height: 100vh;
}
.mus-cover .overlay{
	background: -moz-linear-gradient(top,  rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.75) 17%, rgba(0,0,0,0.70) 35%, rgba(0,0,0,0.65) 62%, rgba(0,0,0,0.60) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.8)), color-stop(17%,rgba(0,0,0,0.75)), color-stop(35%,rgba(0,0,0,0.70)), color-stop(62%,rgba(0,0,0,0.65)), color-stop(100%,rgba(0,0,0,0.60))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.75) 17%,rgba(0,0,0,0.70) 35%,rgba(0,0,0,0.65) 62%,rgba(0,0,0,0.60) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.75) 17%,rgba(0,0,0,0.70) 35%,rgba(0,0,0,0.65) 62%,rgba(0,0,0,0.60) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.75) 17%,rgba(0,0,0,0.70) 35%,rgba(0,0,0,0.65) 62%,rgba(0,0,0,0.60) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.75) 17%,rgba(0,0,0,0.70) 35%,rgba(0,0,0,0.65) 62%,rgba(0,0,0,0.60) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
	background-attachment: fixed;
	height: 100vh;
}
.mus-cover.overlay 
{
    position: relative; 
}
.mus-cover.overlay:before 
{
	content: "";
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0; 
}
.mus-cover .mus-vh-100 
{
    min-height: 700px !important; 
}
.mus-vh-100 
{
	height: 100vh; 
}

.mus-cover .mus-heading 
{
    font-size: 120px;
    line-height: 1.5em;
	/*font-size: 8vh;
    line-height: 10vh;*/
}
.mus-subheading 
{
	color: #F96D00 !important;
}

.mus-cover .mus-subheading, .mus-cover p 
{
    color: rgba(255, 255, 255, 0.7);
    font-weight: 300;
    font-family: "Raleway", sans-serif; 
}

/* Make a reservation link */
.mus-cover a 
{
    position: relative;
    color: #fff; 
}
.mus-cover a:before 
{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background: #F96D00;
	height: 2px;
	content: " "; 
}
span.musine-lg {
	border-top: 0.15em solid #eee;
	border-bottom: 0.15em solid #eee;
	padding: 0 0.1em;
	color: #ededed;
	opacity: 0.9;
}
@media screen and (max-width: 768px) 
{
	.muis-cover .muis-heading {
        font-size: 37px;
        line-height: 1.3; } 
}
@media screen and (max-width: 768px) 
{
    .muis-cover .btn {
		width: 100% !important;
		border: 1px solid red; } 
}
@media screen and (max-width: 960px) 
{
    .muis-vh-100 {
		height: inherit;
		padding-top: 5em;
		padding-bottom: 5em; } 
}
/* End Home section */