/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 24, 2018, 12:19:56 PM
    Author     : daniel
*/

.navbar-brand 
{
	text-transform: uppercase;
	letter-spacing: .1em; 
}

.navbar-brand .musine {
	font-size: inherit;
	border-top: 0.15em solid rgba(0,0,0,0);
	border-bottom: 0.15em solid rgba(0,0,0,0);
	padding: 3px;
	text-transform: uppercase;
}

a.navbar-brand:hover span.musine {
	border-top: 0.15em solid #eee;
	border-bottom: 0.15em solid #eee;
}

a.navbar-brand span.musine::before {
	content: 'THE ';
	font-size: 0.9em;
	opacity: 0;
	transition: all 0.5s;
}

a.navbar-brand:hover span.musine::before {
	content: 'THE ';
	font-size: 0.9em;
	opacity: 1;
}

.mus-navbar-light 
{
	background: transparent !important;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 3; 
}

@media screen and (max-width: 991px) 
{
    .mus-navbar-light {
		background: #000 !important;
		top: 0;
		position: relative; } 
}

.mus-navbar-light .navbar-nav > .nav-item > .nav-link 
{
    font-size: 16px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px; 
}

@media screen and (max-width: 960px) 
{
	.mus-navbar-light .navbar-nav > .nav-item > .nav-link {
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 0px;
        padding-right: 0px; } 
}

.mus-navbar-light .navbar-nav > .nav-item.mus-cta a 
{
    color: #fff; 
}

.mus-navbar-light .navbar-nav > .nav-item.mus-seperator 
{
    position: relative;
    margin-left: 20px;
    padding-left: 20px; 
}

@media screen and (max-width: 960px) 
{
	.mus-navbar-light .navbar-nav > .nav-item.mus-seperator {
        padding-left: 0;
        margin-left: 0; } 
}

.mus-navbar-light .navbar-nav > .nav-item.mus-seperator:before 
{
	position: absolute;
	content: "";
	top: 10px;
	bottom: 10px;
	left: 0;
	width: 2px;
	background: rgba(255, 255, 255, 0.05); 
}

@media screen and (max-width: 960px) 
{
	.mus-navbar-light .navbar-nav > .nav-item.mus-seperator:before {
		display: none; } 
}

.mus-navbar-light .navbar-toggler 
{
    border: none;
    color: rgba(255, 255, 255, 0.5) !important;
    cursor: pointer;
    padding-right: 0;
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: .1em; 
}

.mus-navbar-light.scrolled 
{
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    margin-top: -130px;
    background: #fff !important; 
}

@media screen and (max-width: 768px) 
{
	.mus-navbar-light.scrolled .navbar-nav {
        background: none;
        border-radius: 0px;
        padding-left: 0rem !important;
        padding-right: 0rem !important; } 
}

@media screen and (max-width: 576px) 
{
	.mus-navbar-light.scrolled .navbar-nav {
        background: none;
        padding-left: 0 !important;
        padding-right: 0 !important; } 
}

.mus-navbar-light.scrolled .navbar-toggler 
{
	border: none;
	color: rgba(0, 0, 0, 0.5) !important;
	border-color: rgba(0, 0, 0, 0.5) !important;
	cursor: pointer;
	padding-right: 0;
	text-transform: uppercase;
	font-size: 16px;
	letter-spacing: .1em; 
}

.mus-navbar-light.scrolled .nav-link 
{
	padding-top: 0.7rem !important;
	padding-bottom: 0.7rem !important;
	color: #000 !important; 
}

.mus-navbar-light.scrolled .nav-link.active 
{
	color: #F96D00 !important; 
}

.mus-navbar-light.scrolled.awake 
{
	margin-top: 0px;
	transition: .3s all ease-out; 
}

.mus-navbar-light.scrolled.sleep 
{
	transition: .3s all ease-out; 
}

.mus-navbar-light.scrolled .navbar-brand 
{
	color: #000; 
}