html
{
	font-size: 16px;
}

body
{
	font-family: 'Open Sans Condensed', sans-serif;
	background-color: #000000;
	-moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

[ng\:cloak], [ng-cloak], .ng-cloak {
  display: none !important;
}

.container
{
	min-width: 300px;
	z-index: 0;
}

h2.title
{
	font-size: 3.0em;
	font-weight: bold;
	color: rgba(255,255,255,0.75);
	text-shadow: 0 0 10px rgba(0,255,255,0.75);
	opacity: 0;
	padding: 20px 0;
}

.groupNumber
{
	text-align: center;
	color: rgba(0, 127, 127, 0.8);
	font-weight: bold;
	opacity: 0;
}

.box
{
    padding: 0 2px 0 2px;
}

.elementBox
{
	box-shadow: 0px 0px 4px rgba(0,255,255,0.5);
	border: 1px solid rgba(127,255,255,0.25);
	
	text-align: center;
	margin: 5px;
	
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    background-color: rgba(0, 127, 127, 0.3);
    opacity: 0;
    
    position: relative; 
    z-index: 0;
    
    overflow: hidden;
}

span.elementName, span.atomicMassUncertainty, span.elementPeriod, span.elementBlock, span.elementGroup, span.elementType, span.elementState, span.elementCAS, div.blownUpTop
{
	display: none;
}

.blownUp
{
	opacity: 1;
	width: 80px;
	height: 100px;
}

.blownUp span
{
	display: inline-block !important;
}

.blownUp div.normal {display: none}
.blownUp div.blownUpTop {display: block}

.blownUp span.atomicNumber {float: left; font-size: 0.8em; margin-left: 3px;}
.blownUp span.elementSymbol {margin-left: 0px;}
.blownUp span.atomicMass {float: right; font-size: 0.6em; margin-top: 0px; margin-right: 2px}
.blownUp span.elementName {font-size: 1.1em; color: tomato}
.blownUp span.elementPeriod {font-size: 0.6em; float: left; color: rgba(180, 200, 200, 1.0); margin: 2px 1px}
.blownUp span.elementGroup {font-size: 0.6em; float: right; color: rgba(180, 200, 200, 1.0); margin: 2px 1px}
.blownUp span.elementBlock {font-size: 0.6em; float: left; color: rgba(100, 200, 200, 0.8); margin: 0 1px}
.blownUp span.elementType {font-size: 0.6em; float: right; color: rgba(100, 200, 200, 0.8); margin: 0 1px}
.blownUp span.elementState {font-size: 0.6em; float: left; color: rgba(150, 127, 127, 0.8); margin: 0 1px}
.blownUp span.elementCAS {font-size: 0.6em; float: right; color: rgba(150, 127, 127, 0.8); margin: 0 1px}

.elementBox:hover
{
	cursor: pointer;
	-webkit-box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
	-moz-box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
	box-shadow: 0px 0px 12px rgba(0,255,255,0.75);
	border: 1px solid rgba(127,255,255,0.75);
}

.glassPane
{
	position: fixed;
	background: rgba(0, 0, 0, 0.5);
	top: 0;
	left: 0;
	-webkit-backface-visibility: hidden;
	visibility: hidden;
	width: 1000%;
	height: 1000%;
	margin: 0 -100%;
}

.center
{
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

span.atomicNumber
{
	font-size: 0.9em;
	display: block;
	color: rgba(127,255,255,0.75);
}

span.elementSymbol
{
	font-size: 1.63em;
	display: block;
	font-weight: bold;
	color: rgba(255,255,255,0.75);
	text-shadow: 0 0 10px rgba(0,255,255,0.95);
}

span.atomicMass
{
	font-size: 0.75em;
	display: block;
	color: rgba(127,255,255,0.75);
}

.lanthanides
{
	margin-top: 20px;
}

.atomicNumber72
{
	outline-left: 2px solid #51a351;
}

.atomicNumber57
{
	outline-right: 2px solid #51a351;
}

.atomicNumber104
{
	outline-left: 2px solid #8e59ea;
}

.atomicNumber89
{
	outline-right: 2px solid #8e59ea;
}

.labelLa
{
	color: rgba(255,255,255,0.7);
	text-shadow: 0 0 10px rgba(0,255,255,0.75);
	font-weight: bold;
	margin-top: 10px;
	opacity: 0;
}

.labelAc
{
	color: rgba(255,255,255,0.6);
	text-shadow: 0 0 10px rgba(0,255,255,0.55);
	font-weight: bold;
	margin-top: 10px;
	opacity: 0;
}

#Header .inner
{
	padding: 20px !important;
}

#Header .title 
{
	font-size: 36px !important;
	line-height: 36px !important;
	font-weight: normal;
	text-decoration: none;
	text-align: center;
	color: white;
}

.clearfix::after
{
	content: ' '; 
	display: table; 
	clear: both;
}

@media (max-height: 800px)
{
}

@media (max-height: 500px), (max-device-height: 400px)
{
	.blownUp {width: 50px !important; height: 60px !important; font-size: 0.65em !important;}
	.blownUp span.atomicMass {float: right; font-size: 0.6em; margin-top: 0px; margin-right: 2px}
}

@media (max-height: 300px), (max-device-height: 300px)
{
	.blownUp {width: 40px !important; height: 45px !important; font-size: 0.6em !important;}
}

@media (max-width: 1200px)
{
	.container {width: auto !important;}
	.elementBox {margin: 4px;}
}

@media (max-width: 992px)
{
    .elementBox {margin: 4px;}
    span.atomicNumber {font-size: 0.9em;}
    span.elementSymbol {font-size: 1.2em;}
    span.atomicMass {font-size: 0.7em;}
    .container {width: auto !important;}
}

@media (max-width: 768px), (max-device-width: 768px)
{
	.box {padding: 1px;}
    .elementBox {margin: 3px;}
    span.atomicNumber {font-size: 0.75em;}
    span.elementSymbol {font-size: 1.0em;}
    span.atomicMass {font-size: 0.66em;}
    h2.title {font-size: 2.4em; font-weight: bold;}
    .blownUp {width: 80px; height: 100px; font-size: 1.0em;}
}

@media (max-width: 600px), (max-device-width: 600px)
{
	.box {padding: 1px;}
    .elementBox {margin: 2px;}
    span.atomicNumber {font-size: 0.7em;}
    span.elementSymbol {font-size: 0.95em; font-weight: bold;}
    span.atomicMass {display: none;}
    h2.title {font-size: 2.0em; font-weight: bold;}
    .labelLa, .labelAc {font-size: 0.9em; font-weight: normal;}
    .groupNumber {font-size: 0.9em;}
    .col-xs-3 {padding-right: 5px;}
    .blownUp span {display: block;}
}

@media (max-width: 480px), (max-device-width: 480px)
{
	.box {padding: 0;}
    .elementBox {margin: 1px;}
    span.atomicNumber {font-size: 0.7em;}
    span.elementSymbol {font-size: 1.0em; font-weight: normal;}
    span.atomicMass {display: none;}
    h2.title {font-size: 2.0em; font-weight: normal;}
    .labelLa, .labelAc {font-size: 0.9em; font-weight: normal;}
    .groupNumber {font-size: 0.8em;}
    .col-xs-3 {padding-right: 5px;}
    .blownUp span {display: block;}
    .blownUp {width: 55px !important; height: 70px !important; font-size: 0.75em !important;}
    .blownUp span.elementName {font-size: 1.0em;}
}

@media (max-width: 400px), (max-device-width: 400px)
{
	.box {padding: 0;}
    .elementBox {margin: 1px;}
    span.atomicNumber {font-size: 0.6em;}
    span.elementSymbol {font-size: 0.9em; font-weight: normal;}
    span.atomicMass {display: none;}
    h2.title {font-size: 2.0em; font-weight: normal;}
    .labelLa, .labelAc {font-size: 0.8em; font-weight: normal;}
    .groupNumber {font-size: 0.8em;}
    .col-xs-3 {padding-right: 5px;}
    .blownUp {width: 40px !important; height: 50px !important; font-size: 0.5em !important;}
    .blownUp span {display: block;}
    .blownUp span.atomicMass {float: right; font-size: 0.6em; margin-top: 0px; margin-right: 2px}
    .blownUp span.elementCAS {font-size: 0.5em !important;}
    .blownUp span.elementName {font-size: 0.9em;}
}